<header class="hero-unit ps4-background" id="banner">
  <div class="container">
    <h1>Playstation Games</h1>
    <p class="lead">Browse a list of game reviews by you for you.</p>
    <div class=""><img src="assets/images/playstation.png" alt="Playstation Logo"></div>

  </div>
</header>
<div class="container">
  filter: rating, date, name : ascending, descending

  <!--for a given number of items from the playstation db view
    create a quick view of the item-->

  <!--TODO: create the layout-->
  <ul class="list-styling">
    <li ng-repeat="review in reviews | filter: {platform: 'playstation'}">
<!--        <a ng-href="/game/{{review._id}}/about"><h3>{{ review.title }}</h3></a>-->
        <a ui-sref="game.about({id: review._id })"><h3>{{ review.title }}</h3></a>
        <span ng-repeat="genre in review.genre">{{genre}}</span><br>
        {{ review.publisher }} <br>
        {{ review.author }} <br>
        {{ review.postDate }}
        <span ng-repeat="platform in review.platform">{{ platform }}</span><br>
        {{ review.description }}
    </li>

  </ul>
</div>

